*{
    font-family: PopuLato, "Helvetica Neue", Helvetica, sans-serif;;
margin: 0;
}

body{
    height: 100vh;
    line-height: 1.4;
    background-color: #111;
    text-align: left;
    display: flex;
    flex-direction: column;
}

div{
    
}

.container{
    display: flex;
    flex-direction: column;    
}

.nav{
    line-height: 42px;
    padding: 0px 18px;
    color: #ddd;
    font-size: 13px;
    background-color: #111;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.nav-links{
    display: flex;
}

.nav-links-home{
    margin: 0px 9px 0px 0px;
    color: white;
}

.nav-links-names{
    margin: 0px 9px 0px 0px;
}

.nav-account{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.nav-account-names{
    margin: 0px 9px 0px 0px;
}

.search-icon{
    padding-top: 10px;
    height: 21px;
}

.nav-account-pic{
    height: 30px;
    padding-top: 5px;
}

.nav-account-help{
    height: 20px;
    padding-top: 10px;
}

.banner{
    background-color: rgb(0,72,120);
    color: #ffffff;
    font: inherit;
    padding: 10px 0px 0px 18px;
}

.dfa{
    font-weight: normal;
}

.dfa-icon{
    height: 32px;
}

.banner-links{
    display: flex;
    padding: 4px 10px 4px 10px;
    font-size: 14px;
}

.content{
    background-color: rgb(238,238,238);
}

.user-info{
    padding: 24px 0px 0px 250px;
    color: #555;
}

.user-ino-student-name{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: ;
}

.user-info-title{
    font-size: 14px;
}

.veiw-selectors{
    display: flex;
    padding: 24px 0px 0px 250px;
    list-style-type: none;
    font-size: 14px;
    color: #6c6c6c;
}

.veiw-bulletin{
    border: 1px solid rgb(215,215,215);
    border-bottom-color: white;
    background-color: rgb(255,255,255);
    height: 26px;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    margin-bottom: -8px;
    margin-top: -2px;
}


.profile-info{
    height: fit-content;
    width: fit-content;
    padding: 10px 40px;
    margin-top: -115px;
    margin-bottom: -177px;
    font-size: 13px;    
}

.profile-info-email{
    color: #0033CC;

}

.envelope-icon{
    height: 15px;
}

.clock-icon{
    height: 18px;
    margin-right: -2px;
    padding-top: 10px;
}

.body{
    background-color: rgb(255,255,255);
    border: 1px solid rgb(215,215,215);
    padding: 17px 42px 18px 238px;
    min-height: 296px;
    margin: 0px;
}

.body-content{
    display: flex;
}

.post{
    background-color: rgb(238,238,238);
    height: fit-content;
    width: 59%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(215,215,215);
    border-radius: 5px;
    padding: 0px 18px 0px 0px;
}

.post-box{
    margin: 9px;
}

.post-box-input{
    height: 59px;
    width: 102%;
    max-height: 300px;
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #bbb;
    color: #6c6c6c;
}

.bottom-post-box{
    display: flex;
}

.post-box-guide{
    font-size: 13px;
    color: #555555;
    flex: 1;
}

.post-box-btn{
    background: rgba(255,255,255,1);
    border-color: #ccc;
    border-radius: 4px;
    color: #444;
    padding: 3px 10px;
}

.post-activity{
    color: #9a6e00;
    font-size: 14px;
    margin-top: -21px;
}

.follow-box{
    width: 38.5%;
    padding: 0px 0px 0px 36px;
}

.follow-box-btn{
    background: rgba(255,255,255,1);
    border-color: #ccc;
    border-radius: 4px;
    color: #444;
    padding: 3px 10px;
}

.follower{
    padding: 40px 0px;
    font-size: 14px;
    display: flex;
}

.follow-box-following{
    padding: 0px 18px 0px 0px;
}

.following-txt{
    color: #0033CC;
}

.follower-txt{
    color: #0033CC;
}

.footer{
    background-color: rgb(238,238,238);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 0px 32px 0px 32px;
    text-align: center;
    color: #6c6c6c;
    font-size: 13px;
}

a{
    text-decoration: none;
    color: rgb(136,136,136);
}